{% extends 'base.html.twig' %}

{% block title %}Hello QuestionsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<header>
<div class="example-wrapper">
    <nav>
    <ul>
        <li><a href="{{ path('index') }}">logo</a></li>
        <li><a href="{{ path('quiz') }}">Les quiz</a></li>
        <li><ahref="{{ path('page_parents') }}">Pour les parents</a></li>
    </ul>
    </nav>

</div>
</header>
{% endblock %}
